:host {
    display: block;
    background-color: white;
    padding: 15px 15px 15px 0;
    padding-bottom: 70px;
}
.top {
    display: flex;
}
.top .avatar {
    width: 280px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
.top .avatar img {
    width: 140px;
}
.top .employee-info {
    flex-grow: 1;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
app-button {
    float: right;
}
app-button.info-action-btn {
    margin-top: 15px;
}
