<div class="top">
  <div class="avatar">
    <img [src]="getAvatarSource()">
  </div>
  <div class="employee-info">
    <app-text-input label="First Name" [maxLength]="50" [required]="true" [disabled]="isDataEntryDisabled()"
      [(text)]="employee.firstName"></app-text-input>
    <app-text-input label="Last Name" [required]="true" [maxLength]="50" [disabled]="isDataEntryDisabled()"
      [(text)]="employee.lastName"></app-text-input>

    <!-- <app-text-input label="Company Email" [lookupValidation]="emailValidation()" [isEmail]="true" [required]="true"
                    [disabled]="isDataEntryDisabled()" [(text)]="employee.companyEmail"></app-text-input> -->
    <app-text-input label="Company Email" [isEmail]="true" [required]="true" [disabled]="isDataEntryDisabled()"
      [(text)]="employee.companyEmail"></app-text-input>
    <app-text-input label="Personal Email" [isEmail]="true" [required]="true" [disabled]="isDataEntryDisabled()"
      [(text)]="employee.personalEmail"></app-text-input>
    <app-text-input label="Phone Number" [required]="true" [disabled]="isDataEntryDisabled()"
      [(text)]="employee.phoneNumber"></app-text-input>

    <app-multi-select [options]="genders" label="Gender" [required]="false" textField="Name" valueField="Id"
      [placeholder]="placeholder" (selectionChanged)="onGenderChange($event)" [isMultiSelectionEnabled]="false"
      [clearValueAllowed]="false" [disabled]="false">
    </app-multi-select>


    <app-multi-select [options]="employmentTypes" label="Employment Type" [required]="true" textField="name" 
      valueField="id" [placeholder]="placeholder" [isMultiSelectionEnabled]="false" [clearValueAllowed]="false" (selectionChanged)="onEmploymentTypeChange($event)"
      [disabled]="isDataEntryDisabled()">
    </app-multi-select>

    <app-multi-select [options]="departments" label="Department" [required]="true" textField="name" valueField="id"
      [placeholder]="placeholder" [isMultiSelectionEnabled]="false" [clearValueAllowed]="false"  (selectionChanged)="onDepartmentChange($event)"
      [disabled]="isDataEntryDisabled()">
    </app-multi-select>

    <app-multi-select [options]="jobtitles" label="Job Title" [required]="true" textField="name" valueField="id"
      [placeholder]="placeholder" [isMultiSelectionEnabled]="false" [clearValueAllowed]="false" (selectionChanged)="onJobTitleChange($event)"
      [disabled]="isDataEntryDisabled()">
    </app-multi-select>
  </div>
</div>

<app-button class="info-action-btn" *ngIf="newUser" label="Add" [disabled]="!isValid() || isDataEntryDisabled()"
  (onClick)="addEmployee()"></app-button>

<app-button class="info-action-btn" *ngIf="!newUser" label="Save" [disabled]="!isValid() || isDataEntryDisabled()"
  (onClick)="addEmployee()"></app-button>