.advanced-search {
  position: relative;
  margin-bottom: 20px;
  /*advanced search box style - start*/
  /*advanced search box style - end*/
}

  .advanced-search .hidden {
    display: none;
  }

  .advanced-search .arrow {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .advanced-search .input-group {
    display: table;
  }

  .advanced-search .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
  }

    .advanced-search .input-group-btn .basic-search-button {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      background-color: darkblue;
      color: white;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      border-radius: 10px;
      user-select: none;
      width: 200px;
      height: 41px;
      outline: none;
    }

      .advanced-search .input-group-btn .basic-search-button[disabled] {
        background-color: lightgray;
        cursor: default;
      }

  .advanced-search .advanced-search-button {
    display: table-cell;
    height: 40px;
    border: 1px solid;
    border-right-color: transparent;
    background-color: white;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
    color: darkblue;
  }

    .advanced-search .advanced-search-button .arrow {
      display: inline-block;
      padding: 0 7px;
      margin-top: 0;
      position: relative;
    }

    .advanced-search .advanced-search-button.advanced-search-button-activated {
      border-color: darkblue;
    }

  .advanced-search .basic-search-input {
    font-size: 0.95em;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    box-shadow: none;
    border: 1px solid lightgray;
    border-radius: 0;
    color: gray;
    padding: 0 15px 0 35px;
    line-height: 32px;
    height: 42px;
    outline: none;
    background-repeat: no-repeat;
    background-image: url('/assets/images/search.svg');
    background-position: 8px 10px;
  }

    .advanced-search .basic-search-input :-ms-input-placeholder {
      /* IE 10+ */
      color: blue;
    }

    .advanced-search .basic-search-input :-moz-placeholder {
      /* Firefox 18- */
      color: blue;
    }

    .advanced-search .basic-search-input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: blue;
    }

  .advanced-search .advanced-search-box {
    border: 1px solid darkblue;
    background-color: white;
    padding: 15px;
    position: absolute;
    z-index: 99999;
    top: 55px;
    left: 0;
    right: 0;
  }

    .advanced-search .advanced-search-box .search-box-header {
      margin-bottom: 10px;
      width: 100%;
      float: left;
    }

    .advanced-search .advanced-search-box .arrow {
      transform: rotate(180deg);
      position: absolute;
      top: -20px;
    }

    .advanced-search .advanced-search-box .filter-lable {
      font-size: 0.9em;
      color: gray;
      float: left;
    }

    .advanced-search .advanced-search-box .reset-search {
      color: darkred;
      font-size: 0.9em;
      float: right;
      text-decoration: none;
    }

      .advanced-search .advanced-search-box .reset-search img {
        margin-right: 5px;
      }

      .advanced-search .advanced-search-box .reset-search:hover {
        color: red !important;
      }

    .advanced-search .advanced-search-box .search-button {
      background-color: darkblue;
      color: white;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      user-select: none;
      display: block;
      width: 100%;
      border-radius: 10px;
      height: 40px;
      outline: none;
      margin-top: 15px;
    }

    .advanced-search .advanced-search-box .search-box-arrow {
      min-width: 20px;
      min-height: 20px;
      position: absolute;
      top: -20px;
    }

      .advanced-search .advanced-search-box .search-box-arrow::before {
        height: 0;
        width: 0;
        border-color: transparent transparent darkblue;
        border-style: solid;
        border-width: 12px;
        margin-left: -2px;
        margin-top: -4px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
      }

      .advanced-search .advanced-search-box .search-box-arrow::after {
        height: 0;
        width: 0;
        border-color: transparent transparent white;
        border-style: solid;
        border-width: 10px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
      }

    .advanced-search .advanced-search-box .dynamic-component-content {
      margin-bottom: 20px;
      float: left;
      width: 100%;
    }
