@import "../../../../theme/variables.scss";

.label {
    &.required::after {
        content: "*";
        margin-left: 4px;
        color: $red-color;
    }

    &.required-warning {
        color: $red-color;
    }
}

input {
    display: block;
    height: 32px;
    width: 100%;
    background-color: $white-color;
    box-sizing: border-box;
    border: 1px solid $lighter-gray-color;
    color: $gray-color;
    padding-left: 5px;
    padding-right: 37px;

    &:disabled{
        background-color: $lightest-gray-color;
    }

    &:focus {
        border-color: $light-blue-color;
        outline: none;
    }

    &::placeholder {
        color: $light-gray-color;
    }

    &.required-warning {
        border-color: $red-color;
    }
}

.validation-message{
    color:$red-color;
    font-size: 14px;
}
