

<app-employee-details [newUser]="true" (newUserAdded)="onNewUserAdded()"></app-employee-details>
<div class="main-content">
  <app-advanced-search (onSearchByKeywordClick)="onSearchByKeywordClick($event)"
                       (onAdvancedSearchClick)="onAdvancedSearchClick()"
                       (onAdvancedSearchResetClick)="onAdvancedSearchResetClick()">
    <app-employee-advanced-search></app-employee-advanced-search>
  </app-advanced-search>
   <app-employee-card-listing [searchType]="searchType"
                             [searchTags]="searchTags"
                             [advancedSearchCriteria]="advancedSearchCriteria"
                             (onSearchTagsUpdate)="updateSearchTags($event)">
  </app-employee-card-listing>
</div>
