@import "../../../../theme/variables";
@import "../../../../theme/mixins";
$select-height: 32px;

.label {
	&.required::after {
		content: "*";
		margin-left: 4px;
		color: $red-color;
	}

	&.required-warning {
		color: $red-color;
	}
}

.app-multi-select {
	height: $select-height;
	line-height: $select-height;
	border: $gray-color;
	background-color: $white-color;
	border: 1px solid $lighter-gray-color;
	min-width: 260px;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;

	&.active {
		border-color: $lighter-blue-color;
	}

	&.disabled {
		background-color: rgba($lighter-gray-color,.4);
		cursor: default;

		.selected-options-label {
			color: $light-gray-color;
		}
	}

	&:not(.disabled) {
		.selected-options-label {
			color: $gray-color;
		}
	}

	&.is-invalid, &.required-warning {
		border: 1.5px solid $red-color;
	}

	.select-container {
		color: $gray-color;
		font-size: 0.9rem;
		position: relative;
		height: 100%;

		.values-container {
			display: inline-block;
			overflow: hidden;
			max-height: $select-height;
			line-height: 22px;
			box-sizing: border-box;
			padding: 4px;
			position: absolute;
			top: 0;
			right: 54px;
			left: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			height: 100%;

			.selected-options-label {
				@include no-select;
			}

			.placeholder {
				color: $light-gray-color;
				@include no-select;
			}
		}

		.clear-all {
			cursor: pointer;
			width: 16px;
			float: right;
			transform: translateY(2px);

			svg {
				width: 12px;
				height: 12px;

				path {
					fill: $light-gray-color;
				}
			}
		}

		.select-toggler {
			height: $select-height;
			float: right;
			margin-left: 8px;
			width: 22px;
			cursor: pointer;
			padding-right: 10px;

			.separator {
				content: '';
				height: 20px;
				background: $lighter-gray-color;
				width: 1px;
				display: inline-block;
				margin-right: 8px;
				transform: translateY(5px);
			}


			.arrow {
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 6px solid $light-gray-color;
				display: block;
				margin-top: 10px;
				display: inline-block;

				&.down {
					transform: rotate(180deg);
					transition: all .25s ease-out;
				}

				&.up {
					transition: all .25s ease-out;
				}
			}
		}
	}

	.select-panel {
		border: 1px solid $lighter-blue-color;
		background-color: $white-color;
		color: $gray-color;
		position: absolute;
		top: $select-height - 2px;
		width: 100%;
		max-height: 200px;
		box-sizing: border-box;
		overflow-y: auto;
		z-index: 1000;

		.select-option {
			cursor: pointer;
			padding: 10px;
			box-sizing: border-box;

			&:hover {
				background-color: $lighter-blue-color;
			}

			&.selected {
				color: $dark-blue-color;
			}
		}
	}
}
