<section class="container" >
	<!-- <ng-container *ngIf="isHeaderAndSideMenuVisible">
		<header class="header">
			<label class="main-menu-toggler" for="activate-menu-checkbox">
				<img class="menu-hamburger" src="assets/images/hamburger.svg" />
			</label>
			<span id="appTitle" class="app-title">{{title}}</span>
		</header>
		<aside class="main-menu-container">
			<main-menu></main-menu>
		</aside>
	</ng-container> -->

	<section class="main-content">
		<router-outlet></router-outlet>
	</section>
</section>